body{
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 100vh;
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    display: flex;
    justify-items: flex-end;
    margin: 0px 90px 0px 90px;
}
a{
 text-decoration: none;
 color: #e5e7eb;
 font-size: 16px;
 font-family: 'Zen Loop', cursive;

}
.links{
    display: flex;
}
.logo{
    font-family: 'Dancing Script', cursive;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}
.firstline{
    display: flex;
    
    padding-top: 10px;
   justify-content: space-between;
   align-items: baseline;
  
   
}


.title{
    margin-top: 0;
    margin-bottom: 0;
    color: #F9FAF8;
    font-weight: 800;
    font-size: 38px;
    display: flex;
}
.ph{
    
   height: 200px;
   width: auto;
}
.mid{
    padding:60px 0px 60px 0px;
    display: flex;
    justify-content:baseline;
    gap: 40px;
    
}
.right{
    display: flex;
    flex-shrink: 0;
    width: 50%;
    margin-bottom: 0;

}
.left{
    display: flex;
    flex-direction: column;
     gap:20px;

}
.text{
    font-size: 18px;
    color: #e5e7eb;
}
.button{
    background-color:#3882f6;
    color: #e5e7eb;
    height: 25px;
    width: 90px;
    border: #3882f6;
    border-radius: 7px;
}